# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/

# Android
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Secrets
*.jks
*.keystore
key.properties

# Optional
coverage/